<div class="rootContainer">
  <div class="selectionContainer">
    <div class="unitContainer">
      <div class="unitItem">
        <img [src]="championImagePath">

        <div class="unitItemContent">
          <input type="text" [(ngModel)]="championSearchString" id="myInput" (keyup)="searchChampions()" placeholder="Search for names..">

          <div *ngFor="let c of filteredChampions | async" class="unitItemOption" (click)="selectChampion(c)">
            <img [src]="'assets/images/champions/' + c.image" onerror="this.onerror=null; this.remove();">
            <p> {{c.name}} </p>
          </div>
        </div>
      </div>

      <div class="unitItem" *ngFor="let a of [0, 1, 2]">
        <img [src]="itemImagePaths[a]">

        <div class="unitItemContent">
          <input type="text" [(ngModel)]="itemSearchString" id="myInput" (keyup)="searchItems()" placeholder="Search for names..">

          <div *ngFor="let i of filteredItems | async" class="unitItemOption" (click)="selectItem(i, a)">
            <img [src]="'assets/images/items/' + i.image" onerror="this.onerror=null; this.remove();">
            <p> {{i.name}} </p>
          </div>
        </div>
      </div>

    </div>
    <div class="modifierContainer">
      <!-- Remove repetition through ngFor? -->
      <app-dynamic-form [questions]="questions$ | async" (formSubmit)="receiveModifiers($event)"></app-dynamic-form>

      <!-- <div class="modifierText">
        <div> Star Level: </div>
        <div> Defender: </div>
        <div> Aegis: </div>
        <div> Brawler: </div>
      </div>

      <div class="modifierInput">
        <div class="modifier">
          <form [formGroup]="statModifiers" class="modifierForm">
            <div *ngFor="let level of [1, 2, 3]" >
              <input  type="radio" formControlName="star" [value]="level"> {{level}}
            </div>
          </form>
        </div>

        <div class="modifier">
          <form [formGroup]="statModifiers" class="modifierForm">
            <div *ngFor="let level of [0, 2, 4, 6]" >
              <input  type="radio" formControlName="defender" [value]="level"> {{level}}
            </div>
          </form>
        </div>

        <div class="modifier">
          <form [formGroup]="statModifiers" class="modifierForm">
            <div *ngFor="let level of [0, 2, 4, 6]" >
              <input  type="radio" formControlName="aegis" [value]="level"> {{level}}
            </div>
          </form>
        </div>

        <div class="modifier">
          <form [formGroup]="statModifiers" class="modifierForm">
            <div *ngFor="let level of [0, 2, 4, 6, 8]" >
              <input  type="radio" formControlName="brawler" [value]="level"> {{level}}
            </div>
          </form>
        </div>

      </div> -->


    </div>
  </div>
  <div class="displayContainer">
    <div class="graphContainer">
      <div echarts [options]="options" [theme]="theme" [merge]="mergeOption" class="graphItem"> </div>
    </div>
    <div class="statContainer" *ngIf="selectedChampion">
        <div class="statItem">Health: {{stats.health}} </div>
        <div class="statItem"></div>
        <div class="statItem">Armour:  {{stats.armour}} </div>
        <div class="statItem">Magic Resist:  {{stats.magicResist}} </div>
        <div class="statItem">PHP growth per armour increase: {{PHPGrowthArmour}} </div>
        <div class="statItem">MHP growth per magic resist increase: {{MHPGrowthMagicResist}}</div>
        <div class="statItem">PHP growth per health increase: {{PHPGrowthHealth}} </div>
        <div class="statItem">MHP growth per health increase: {{MHPGrowthHealth}}</div>
    </div>
  </div>
</div>
