<div class="rootContainer">
  <div class="selectionContainer">
    <div class="unitContainer">
      <div class="unitItem">
        <img [src]="championImagePath">

        <div class="unitItemContent">
          <input type="text" [(ngModel)]="searchString" id="myInput" (keyup)="searchChampions()" placeholder="Search for names..">

          <div *ngFor="let c of filteredChampions | async" class="unitItemOption" (click)="selectChampion(c)">
            <img [src]="'assets/images/' + c.image" onerror="this.onerror=null; this.remove();">
            <p> {{c.name}} </p>
          </div>
        </div>
      </div>

      <div class="unitItem">
        <div class="unitItemContent">
          <div *ngFor="let i of items | async" class="unitItemOption">
            {{i.name}}
          </div>
        </div>
      </div>

      <div class="unitItem">
        <div class="unitItemContent">
          <div *ngFor="let i of items | async" class="unitItemOption">
            {{i.name}}
          </div>
        </div>
      </div>

      <div class="unitItem">
        <div class="unitItemContent">
          <div *ngFor="let i of items | async" class="unitItemOption">
            {{i.name}}
          </div>
        </div>
      </div>

    </div>
    <div class="modifierContainer">
      <div class="modifier"> Star Level: 1, 2, 3</div>
      <div class="modifier"> Defender: 2, 4, 6, 8</div>
      <div class="modifier"> Aegis: 2, 3, 4, 5</div>
    </div>
  </div>
  <div class="displayContainer">
    <div class="graphContainer">
      <div echarts [options]="options" [merge]="mergeOption" class="graphItem"> </div>
    </div>
    <div class="statContainer" *ngIf="selectedChampion">
        <div class="statItem">Health: {{selectedChampion.health}} </div>
        <div class="statItem"></div>
        <div class="statItem">Armour:  {{selectedChampion.armour}} </div>
        <div class="statItem">Magic Resist:  {{selectedChampion.magicResist}} </div>
        <div class="statItem">EHP growth per armour increase: </div>
        <div class="statItem">EHP growth per magic resist increase: </div>
        <div class="statItem">EHP armour growth per health increase: </div>
        <div class="statItem">EHP magic resist growth per health increase: </div>
    </div>
  </div>
</div>
