<div [formGroup]="form">
  <label [attr.for]="question.key">{{question.label}}</label>

  <div [ngSwitch]="question.controlType">
    <!-- Type 1: Basic Radio Checkbox (Brawler)-->
    <div *ngSwitchCase="'radio'">
      <div *ngFor="let opt of question.options" >
        <input type="radio" [formControlName]="question.key" [value]="opt.key"> {{opt.value}}
      </div>
    </div>

    <!-- Type 2: Number Input Textbox (Anima)-->
    <div *ngSwitchCase="'textbox'">
      <input [formControlName]="question.key" [id]="question.key" [type]="question.type">
    </div>

    <!-- Type 3: Character Selector (Mech Prime) -->
    <div *ngSwitchCase="'unitSelector'">

    </div>
  </div>
</div>
